/* 
===============
Variable
===============
*/
:root {
  --mainBlack: #222;
  --mainWhite: #fff;
  --darGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --mainBackground: #d5d5d5;
  --lineHeight: 1.5;
}
/* 
===============
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: var(--lineHeight);
}
img {
  width: 100%;
  height: 100%;
  display: block;
  /* object-fit: cover; */
}

a {
  text-decoration: none;
}
a:hover {
  background: var(--mainWhite);
}

h1 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.25rem;
  font-size: 3rem;
}

h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;
  line-height: var(--lineHeight)
  text-transform: capitalize;
}
.title-text{
  font-size: 2rem;
}
/*  
===============
header Styles
===============
*/
.image-header {
  width: 60vw;
  max-width: 1100px;
  margin: 2rem auto;
}

/*  
====================
main container Styles
=====================
*/
/* single column layout */
.main-container {
  width: 60vw;
  max-width: 1100px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}


/*  
====================
single container Styles
=====================
*/

.single-container {
  position: relative;
  opacity: 1;
  border: 10px solid var(--darGrey);
  overflow: hidden;
}

.image-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  height: 100%;
  /* transistion start from */
  top: 0%;
  left: 0%;
  transform: translate(-100%, -100%);
  transition: var(--mainTransition);
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.single-container:hover .image-details {
 /* transistion end to */
  top: 100%;
  left: 100%;
  opacity: 1;
}

.image-details  {
  color: var(--mainWhite);
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.image-title {
text-transform: uppercase;
text-decoration: black;
font-size: 1rem;
}

/* 
===============
footer Styles
===============
*/

.image-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 40vw;
  margin: 3rem auto;
  padding: 0.5rem 1rem;
}

/* change icon font color */
.text-dark {
  color: var(--mainBlack);
  padding: 5px;
}
/* two columns layout */
@media screen and (min-width: 576px) {
  .main-container {
    width: 80vw;
    margin: 1rem auto;
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
      "a a"
      "b c"
      "d c"
      "d e"
      "f e";
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .container-1 {
  grid-area: a;
  }
  .container-3 {
  grid-area: b;
}
.container-2 {
  grid-area: c;
}
.container-4 {
  grid-area: d;
}
.container-6 {
  grid-area: e;
}
.container-5 {
  grid-area: f;
}
.image-header {
  width: 80vw;
}
}
/* three cloumns */
@media screen and (min-width: 768px) {
.main-container {
  width: 90vw;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    "a b c"
    "d b e"
    "d f e";
  column-gap: 1rem;
  row-gap: 1rem;
}
.container-1 {
  grid-area: a;
}
.container-2 {
  grid-area: b;
}
.container-3 {
  grid-area: c;
}

.container-4 {
  grid-area: d;
}
.container-5 {
  grid-area: f;
}
.container-6 {
  grid-area: e;
}
.image-header {
  width: 90vw;
}
}